.container-fluid {
    padding: 0;
}

.menu {
    height: 20vh;
    display: flex;
    @include flexStyle(space-between);
    padding: $padding-large;
    width: 100%;
}

.logo img {
    max-width: 100%;
    max-height: 85px;
    transition: $animation;

    &:hover {
        transform: scale(1.2);
        transition: $animation;
    }
}

ul {
    display: flex;
    @include flexStyle(flex-end);
    width: 100%;
    gap: 2.5rem;
}

li {
    display: flex;
    @include flexStyle(space-evenly);

    a {
        position: relative;
        text-decoration: none;
        padding: .8rem;
        color: $tersier-color;
        font-weight: $thin;
        opacity: .8;
        letter-spacing: $space;

        &:hover {
            opacity: 1;
            color: $tersier-color;

            &::before {
                content: '';
                width: 70%;
                transition: $animation;
            }
        }

        &::before {
            @include pseudoEl();
            width: 0;
            bottom: .2rem;
            height: 3px;
            border-radius: 3px;
            background-color: $primary-color;
            transition: $animation;
        }
    }
}

li.active a {
    position: relative;
    color: $primary-color;
    font-weight: $thick;
    opacity: 1;

    &::before {
        @include pseudoEl();
        bottom: .2rem;
        background-color: $primary-color;
        width: 50%;
        left: 25%;
    }
}

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    background-color: transparent;
    display: none;
    @include flexStyle();

    .bar {
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 1.6rem;
        height: .2rem;
        border-radius: 2px;
        background-color: $tersier-color;
        transition: $animation;
        z-index: 3;

        &::before,
        &::after {
            @include pseudoEl();
            left: 0;
            width: inherit;
            height: inherit;
            border-radius: 2px;
            background-color: $tersier-color;
            transition: top 0.3s 0.3s, transform 0.3s;
        }

        &::before {
            top: -.5rem;
        }

        &::after {
            top: .5rem;
        }
    }
}

.hamburger-menu.active .bar {
    background-color: transparent;

    &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.3s, transform 0.3s .2s;
    }

    &::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 0.3s, transform 0.3s .2s;
    }
}