aside {
    position: fixed;
    bottom: 0;
    height: 60vh;
    margin-left: 3rem;
    z-index: 1;
}

.sidebar-content {
    height: 400px;
    a {
        svg {
            opacity: .6;
            transition: $animation;

            path {
                transition: $animation;
            }
        }

        &:hover svg {
            transform: scale(1.3);
            transition: $animation;
            opacity: 1;
        }

        &:hover path {
            fill: $primary-color;
            transition: $animation;
        }
    }
}

.vertical-line {
    bottom: 0;
    width: 2px;
    height: 8rem;
    border-radius: 3px;
    background-color: $tersier-color;
    opacity: .6;
}