* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #6266F5 #EFEFEF;
}

body {
  background-color: #282736;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6266F5;
  border-radius: .25rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 3px 0px rgba(239, 239, 239, 0.5);
  border-radius: .25rem;
}

.container-fluid {
  padding: 0;
}

.menu {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2.5rem 9rem;
  width: 100%;
}

.logo img {
  max-width: 100%;
  max-height: 85px;
  transition: all 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 2.5rem;
}

li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

li a {
  position: relative;
  text-decoration: none;
  padding: .8rem;
  color: #EFEFEF;
  font-weight: 300;
  opacity: .8;
  letter-spacing: 0.3px;
}

li a:hover {
  opacity: 1;
  color: #EFEFEF;
}

li a:hover::before {
  content: '';
  width: 70%;
  transition: all 0.3s ease-in-out;
}

li a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: .2rem;
  height: 3px;
  border-radius: 3px;
  background-color: #6266F5;
  transition: all 0.3s ease-in-out;
}

li.active a {
  position: relative;
  color: #6266F5;
  font-weight: 600;
  opacity: 1;
}

li.active a::before {
  content: "";
  position: absolute;
  bottom: .2rem;
  background-color: #6266F5;
  width: 50%;
  left: 25%;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  background-color: transparent;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hamburger-menu .bar {
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: .2rem;
  border-radius: 2px;
  background-color: #EFEFEF;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.hamburger-menu .bar::before, .hamburger-menu .bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 2px;
  background-color: #EFEFEF;
  transition: top 0.3s 0.3s, transform 0.3s;
}

.hamburger-menu .bar::before {
  top: -.5rem;
}

.hamburger-menu .bar::after {
  top: .5rem;
}

.hamburger-menu.active .bar {
  background-color: transparent;
}

.hamburger-menu.active .bar::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.3s, transform 0.3s .2s;
}

.hamburger-menu.active .bar::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.3s, transform 0.3s .2s;
}

aside {
  position: fixed;
  bottom: 0;
  height: 60vh;
  margin-left: 3rem;
  z-index: 1;
}

.sidebar-content {
  height: 400px;
}

.sidebar-content a svg {
  opacity: .6;
  transition: all 0.3s ease-in-out;
}

.sidebar-content a svg path {
  transition: all 0.3s ease-in-out;
}

.sidebar-content a:hover svg {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.sidebar-content a:hover path {
  fill: #6266F5;
  transition: all 0.3s ease-in-out;
}

.vertical-line {
  bottom: 0;
  width: 2px;
  height: 8rem;
  border-radius: 3px;
  background-color: #EFEFEF;
  opacity: .6;
}

footer {
  padding: 2.5rem 9rem;
  color: #EFEFEF;
}

.left-footer h3 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

.left-footer .text {
  font-weight: 300;
  letter-spacing: 0.3px;
  opacity: .6;
}

.left-footer .button {
  text-decoration: none;
  width: 9.5rem;
  background-color: #6266F5;
  color: #EFEFEF;
  border: 2px solid transparent;
  padding: 0.6rem 0.8rem;
  border-radius: 21px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: auto;
}

.left-footer .button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.right-footer h3 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

.right-footer .socmed a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: .8rem;
  border-radius: 50%;
  border: 2px solid #6266F5;
  transition: all 0.3s ease-in-out;
  opacity: .6;
}

.right-footer .socmed a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: #6266F5;
  opacity: 1;
}

.right-footer .socmed a span {
  display: flex;
  align-items: center;
}

hr {
  height: 2px !important;
}

footer p.last-text {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}

footer p.last-text a {
  text-decoration: none;
  color: #6266F5;
}

footer p.last-text a:hover {
  color: #6266F5;
  text-decoration: underline;
}

#hero {
  height: 80vh;
  position: relative;
  background: url(../img/bg-image.jpg) no-repeat fixed center;
  background-size: cover;
  color: #EFEFEF;
  padding: 2.5rem 9rem;
}

#hero svg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.myself {
  margin-top: -3rem;
}

.home-page-title {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

p.site-subtitles {
  font-size: 1.3rem;
  font-weight: 300;
}

.button a {
  text-decoration: none;
  display: block;
  z-index: 1;
}

.button a:first-child {
  text-decoration: none;
  width: 9.5rem;
  background-color: #6266F5;
  color: #EFEFEF;
  border: 2px solid transparent;
  padding: 0.6rem 0.8rem;
  border-radius: 21px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.button a:first-child:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.button a:last-child {
  text-decoration: none;
  width: 7.5rem;
  background-color: transparent;
  color: #EFEFEF;
  border: 2px solid #6266F5;
  padding: 0.6rem 0.8rem;
  border-radius: 21px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.button a:last-child:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: #6266F5;
}

#about {
  color: #EFEFEF;
  padding: 2.5rem 9rem;
  background-color: #2B2C46;
}

#about .section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.about-text {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.8;
}

.about-text span {
  font-weight: 600;
  color: #6266F5;
}

.about-button {
  text-decoration: none;
  width: 9.5rem;
  background-color: transparent;
  color: #EFEFEF;
  border: 2px solid #6266F5;
  padding: 0.6rem 0.8rem;
  border-radius: 21px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.about-button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: #6266F5;
  color: #EFEFEF;
}

#services {
  padding: 2.5rem 9rem;
  color: #EFEFEF;
  background-color: #2B2C46;
}

#services .section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.animate-services {
  width: 20rem;
}

.services-card {
  background-color: #27293F;
  min-height: 20rem;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 13px 8px -7px #24263b;
}

.services-card:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}

.services-card .card-title {
  font-size: 1.3rem;
}

.services-card .card-text {
  opacity: .6;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.6;
}

.card-icon {
  height: 130px;
}

.card-icon i {
  color: #6266F5;
  font-size: 3.5rem;
}

#projects {
  padding: 2.5rem 9rem;
  color: #EFEFEF;
  background-color: #2B2C46;
}

#projects .section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.first-card-project,
.second-card-project,
.third-card-project {
  background-color: #27293F !important;
  box-shadow: 0px 13px 8px -7px #24263b;
  overflow: hidden;
}

.first-card-project img,
.second-card-project img,
.third-card-project img {
  filter: brightness(0.8) contrast(1.2);
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}

.first-card-project img:hover,
.second-card-project img:hover,
.third-card-project img:hover {
  filter: brightness(0.8) contrast(1.35);
  transition: all 0.3s ease-in-out;
  transform: scale(1.025);
}

.first-card-project .card-title,
.second-card-project .card-title,
.third-card-project .card-title {
  font-size: 1.3rem;
}

.first-card-project p.card-text,
.second-card-project p.card-text,
.third-card-project p.card-text {
  opacity: .6;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.first-card-project a svg,
.second-card-project a svg,
.third-card-project a svg {
  opacity: .6;
  transition: all 0.3s ease-in-out;
}

.first-card-project a svg path,
.second-card-project a svg path,
.third-card-project a svg path {
  transition: all 0.3s ease-in-out;
}

.first-card-project a:hover svg,
.second-card-project a:hover svg,
.third-card-project a:hover svg {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.first-card-project a:hover path,
.second-card-project a:hover path,
.third-card-project a:hover path {
  fill: #6266F5;
  transition: all 0.3s ease-in-out;
}

.first-card-project,
.second-card-project {
  margin-bottom: 2.5rem;
}

.icon {
  width: 5rem;
}

#about-hero {
  height: 80vh;
  position: relative;
  background: url(../img/bg-image.jpg) no-repeat fixed center;
  background-size: cover;
  color: #EFEFEF;
  padding: 2.5rem 9rem;
}

#about-hero svg {
  position: absolute;
  bottom: 0;
}

.about-page-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p.site-subtitle {
  font-size: 1.3rem;
  font-weight: 300;
}

#about-large {
  padding: 2.5rem 9rem;
  color: #EFEFEF;
  background-color: #2B2C46;
}

#about-large .section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.about-me-text {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 1.8;
}

.about-me-text span {
  font-weight: 600;
  color: #6266F5;
}

#skills {
  padding: 2.5rem 9rem;
  color: #EFEFEF;
  background-color: #2B2C46;
}

#skills .section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}

.skills-icon {
  gap: .75rem;
}

.skills-icon span {
  background-color: #27293F;
  font-weight: 300;
  width: 150px;
  border-radius: 2px;
  box-shadow: 0px 13px 8px -7px #24263b;
  transition: all 0.3s ease-in-out;
}

.skills-icon span:hover {
  transform: translateY(-8px);
  transition: all 0.3s ease-in-out;
}

.skills-icon span:hover i {
  color: #6266F5;
  opacity: 1;
}

.skills-icon span:hover code {
  opacity: 1;
}

.skills-icon span i {
  opacity: .6;
  transition: all 0.3s ease-in-out;
}

.skills-icon span code {
  color: #EFEFEF;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  opacity: .6;
  transition: all 0.3s ease-in-out;
}

/* For Tablet */
@media screen and (max-width: 768px) {
  .menu,
  #hero,
  #about,
  #services,
  #projects,
  #about-hero,
  #about-large,
  #skills,
  footer {
    padding: 2.3rem 5rem;
  }
  #hero,
  #about-hero {
    height: 100vh;
  }
  .menu.fixed {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0;
    top: 0;
    background-color: #6266F5;
    box-shadow: 0px 3px 8px 0px rgba(104, 83, 250, 0.9);
    transition: background-color .8s ease-in-out;
  }
  .menu {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    height: 10vh;
    transition: background-color .8s;
  }
  .logo img {
    height: 60px;
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #6266F5;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0;
    z-index: 3;
    transform: translateY(-100%);
    transition: all .7s ease-in-out;
  }
  ul.slide {
    transform: translateY(0);
    transition: all .7s ease-in-out;
  }
  li {
    text-align: center;
    width: 100%;
  }
  li a {
    display: block;
    padding: 2rem;
    width: 100%;
  }
  li a::before {
    display: none;
  }
  li.active a {
    color: #EFEFEF;
    border-left: 0.2rem solid #EFEFEF;
  }
  .hamburger-menu {
    display: flex;
    margin-right: 2.5rem;
    transition: all 0.3s ease-in-out;
    position: fixed;
    z-index: 3;
    right: 0;
  }
  aside {
    visibility: hidden;
  }
  .second-card-project .col-md-6:first-child {
    order: 2;
  }
  .left-footer .button {
    margin-bottom: 4rem;
  }
}

/* For Phone */
@media screen and (max-width: 576px) {
  .menu,
  #hero,
  #about,
  #services,
  #projects,
  #about-hero,
  #about-large,
  #skills,
  footer {
    padding: 1.9rem 1.5rem;
  }
  .home-page-title,
  .about-page-title {
    font-size: 3rem;
  }
  p.site-subtitles,
  p.site-subtitle {
    /*** style site-subtitle whole page ***/
    font-size: 1.15rem;
  }
  #about .section-title,
  #services .section-title,
  #projects .section-title {
    font-size: 1.8rem;
  }
  .about-text,
  .about-me-text {
    font-size: 1.15rem;
  }
  .hamburger-menu {
    margin-right: .8rem;
  }
  .myself {
    margin-top: 1.5rem;
  }
  .card-icon i {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */