// Responsive Breakpoints //
/* For Tablet */
@media screen and (max-width: 768px) {
    .menu,
    #hero,
    #about,
    #services,      /*** padding whole pages ***/
    #projects,
    #about-hero,
    #about-large,
    #skills,
    footer {
        padding: $padding-medium;
    }

    #hero,      /*** height hero section whole pages ***/
    #about-hero {
        height: 100vh;
    }

    .menu.fixed {
        @include flexStyle(space-between);
        right: 0;
        top: 0;
        background-color: $primary-color;
        box-shadow: 0px 3px 8px 0px rgba(104 , 83, 250, .9);
        transition: background-color .8s ease-in-out;
    }

    .menu {
        position: fixed;
        @include flexStyle(space-between);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        height: 10vh;
        transition: background-color .8s;
    }

    .logo img {
        height: 60px;
    }

    ul {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $primary-color;
        height: 100vh;
        @include flexStyle(space-evenly, center, column);
        padding: 0;
        z-index: 3;
        transform: translateY(-100%);
        transition: all .7s ease-in-out;
    }

    ul.slide {
        transform: translateY(0);
        transition: all .7s ease-in-out;
    }

    li {
        text-align: center;
        width: 100%;

        a {
            display: block;
            padding: 2rem;
            width: 100%;

            &::before {
                display: none;
            }
        }
    }

    li.active a {
        color: $tersier-color;
        border-left: .2rem solid $tersier-color;
    }

    .hamburger-menu {
        display: flex;
        margin-right: 2.5rem;
        transition: $animation;
        position: fixed;
        z-index: 3;
        right: 0;
    }

    aside {
        visibility: hidden;
    }

    .second-card-project {
        .col-md-6:first-child {
            order: 2;
        }
    }

    .left-footer {
        .button {
            margin-bottom: 4rem;
        }
    }
}

/* For Phone */
@media screen and (max-width: 576px) {
    .menu,
    #hero,
    #about,
    #services,
    #projects,      /*** padding whole pages ***/
    #about-hero,
    #about-large,
    #skills,
    footer {
        padding: $padding-small;
    }

    .home-page-title,   /*** font-size title whole pages ***/
    .about-page-title {
        font-size: $bigger;
    }

    p.site-subtitles,
    p.site-subtitle {   /*** style site-subtitle whole page ***/
        font-size: $large;
    }

    #about .section-title,
    #services .section-title,    /*** font-size all header section ***/
    #projects .section-title {
        font-size: 1.8rem;
    }

    .about-text,    /*** font-size about-me at home-page and about-page ***/
    .about-me-text {
        font-size: $large;
    }

    .hamburger-menu {
        margin-right: .8rem;
    }

    .myself {
        margin-top: 1.5rem;
    }

    .card-icon i{
        font-size: $bigger;
    }
}