#about {
    color: $tersier-color;
    padding: $padding-large;
    background-color: $primary-dark-color;

    .section-title {
        font-size: $big;
        font-weight: $thick;
        margin-bottom: 2.8rem;
    }
}

.about-text {
    font-size: $larger;
    font-weight: $thin;
    letter-spacing: $space;
    line-height: $line-large;

    span {
        font-weight: $thick;
        color: $primary-color;
    }
}

.about-button {
    @include button( 9.5rem, transparent, 2px solid $primary-color);

    &:hover {
        @include hoverButton;
        background-color: $primary-color;
        color: $tersier-color;
    }
}