#projects {
    padding: $padding-large;
    color: $tersier-color;
    background-color: $primary-dark-color;

    .section-title {
        font-size: $big;
        font-weight: $thick;
        margin-bottom: 2.8rem;
    }
}

.first-card-project,
.second-card-project,
.third-card-project {
    background-color: $primary-darker-color !important;
    box-shadow: $shadow-card;
    overflow: hidden;

    img {
        filter: brightness(.8) contrast(1.2);
        transition: $animation;
        object-fit: contain;

        &:hover {
            filter: brightness(.8) contrast(1.35);
            transition: $animation;
            transform: scale(1.025);
        }
    }

    .card-title {
        font-size: $larger;
    }

    p.card-text {
        opacity: .6;
        font-weight: $thin;
        line-height: $line-large;
        letter-spacing: $space;
    }

    a {
        svg {
            opacity: .6;
            transition: $animation;

            path {
                transition: $animation;
            }
        }

        &:hover svg {
            transition: $animation;
            opacity: 1;
        }

        &:hover path {
            fill: $primary-color;
            transition: $animation;
        }
    }
}

.first-card-project,
.second-card-project {
    margin-bottom: 2.5rem;
}

.icon {
    width: 5rem;
}