#about-hero {
    height: 80vh;
    position: relative;
    background: url(../img/bg-image.jpg) no-repeat fixed center;
    background-size: cover;
    color: $tersier-color;
    padding: $padding-large;

    svg {
        position: absolute;
        bottom: 0;
    }
}

.about-page-title {
    font-size: $biggest;
    font-weight: $thickest;
    margin-bottom: 1rem;
}

p.site-subtitle {
    font-size: $larger;
    font-weight: $thin;
}