#about-large {
    padding: $padding-large;
    color: $tersier-color;
    background-color: $primary-dark-color;

    .section-title {
        font-size: $big;
        font-weight: $thick;
        margin-bottom: 2.8rem;
    }
}

.about-me-text {
    font-size: $larger;
    font-weight: $thin;
    letter-spacing: $space;
    line-height: $line-large;

    span {
        font-weight: $thick;
        color: $primary-color;
    }
}